<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/tailwind.css" class="css">
    <title>voir un utilisateur</title>
</head>
<body class="w-screen h-screen bg-gray-400 flex items-center justify-center flex-row">
    <table class="text-center shadow-lg rounded-lg rounded-3xl w-1/2 h-5/6 p-3 bg-gray-500 p-3" style="height:  400px;">
        <caption class="mb-5">Liste des utilisateurs <a class="w-100 h-screen m-5 rounded-lg bg-blue-600 hover:bg-blue-500 cursor-pointer border-none text-white shadow p-2" href="/api/user">Retour</a></caption>
        <thead>
            <td>Nom</td>
            <td>Adresse</td>
            <td>Age</td>
            <td>Actions</td>
        </thead>
        <tbody class="text-white">
            <tr class="m-3">
                <td><%= data.nom %></td>
                <td><%= data.adresse %></td>
                <td><%= data.age %></td>
                <td>
                    <a class="w-100 h-screen m-3 rounded-lg bg-green-600 hover:bg-green-500 cursor-pointer border-none text-white shadow p-2 " href="">Modifier</a>
                    <a class="w-100 h-screen m-3 rounded-lg bg-red-600 hover:bg-red-500 cursor-pointer border-none text-white shadow p-2 " href="">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>